{% if page.language == "es" %}
<nav>
	<a href="/">Inicio</a>
	<a href="/blog">Blog</a>
	<a href="/radioaficion">Radioafición</a>
	<a href="/unete">Únete</a>
	<a href="/contacto">Contacto</a>
	<a href="/index-en">English</a>
</nav>
{% endif %}
{% if page.language == "en" %}
<nav>
	<a href="/index-en">Homepage</a>
	{% comment %} <a href="/blog">Blog</a> {% endcomment %}
	<a href="/ham-radio">Amateur radio</a>
	<a href="/join">Join</a>
	<a href="/contact">Contact us</a>
	<a href="/">Español</a>
</nav>
{% endif %}
